.search-box {
  position: fixed;
  right: 6rem;
  top: 1rem;
  object-fit: contain;
  width: 10rem;
}
.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 2rem;
  color: white;
  background: transparent;
  border: transparent;
  border-radius: 0.7rem;
  transition: var(--transition);
}
.search-box input:hover {
  border: 2px solid var(--color-primary);
}
