.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  position: fixed;
  top: -0.5rem;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.search-box {
  position: fixed;
  right: 6rem;
  top: 1rem;
  object-fit: contain;
  width: 10rem;
}
.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 2rem;
  color: white;
  background: transparent;
  border: transparent;
  border-radius: 0.7rem;
  transition: var(--transition);
}
.search-box input:hover {
  border: 2px solid var(--color-primary);
}
.nav-items {
  margin-left: 8rem;
}
.nav-item {
  float: left;
  height: 60px;
  text-decoration: none;
}
.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0;
  transition: var(--transition);
}
.nav-links:hover {
  color: var(--color-primary);
}
li {
  list-style-type: none;
}
